<%- include('partials/header') -%> 

<!-- About Page -->
<% if(typeof feedback != 'undefined') { %>
     <script>
       alert("<%=feedback%>");
     </script>
<% } %>

<div class="about-page">
  <div class="row">
    <div class="col-sm-12 col-lg-8 about-page-padding">
      <h3>JIMS Community Radio</h3>
      <h5>Exclusive Shows | Explore Podcasts | Create Podcasts</h5>
      <p class="about-page-para">JIMS Vasant Kunj, affiliated to Guru Gobind Singh Indraprastha University, Dwarka is the first college of the university to have launched a community radio station. It provides a platform for dialogue and discussion amongst community, students and faculty. And now it's available online, so you can stream motivational, wellness, educational, and other shows from wherever you are.</p>
      
      <h5 class="contact-form-heading">CONTACT US</h5>

      <% if(typeof alert != 'undefined') { %>
      <% alert.forEach( function(error) { %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <%= error.msg %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <% }) %>
      <% } %>

      <form action="/about" method="post">
        <input class="form-control" type="text" name="name" placeholder="Name" minlength="4" required>
        <input class="form-control" type="email" name="email" placeholder="E-mail" required>
        <textarea class="form-control" name="message" rows="4" placeholder="Message here" minlength="15" required></textarea>
        <button class="btn w-100" type="submit">SUBMIT</button>
      </form>
    </div>

    <div class="col-sm-12 col-lg-4">
      <div class="card">
        <a href="https://www.jimsd.org/" target="_blank"><img src="/images/jims-logo.png" alt="JIMS Logo" class="card-img-top mx-auto"></a>
        <div class="card-body">
          <a href="https://www.jimsd.org/" target="_blank" class="text-decoration-none">
            <h5 class="card-title text-dark">Jagannath International Management School</h5>
          </a>
          <hr>
          <p class="card-text">
            Affiliated to Guru Gobind Singh Indraprastha University, New Delhi <br>
            Accredited with ‘A’ Grade by NAAC <hr>
            <p class="about-page-details">
              <i class="fas fa-map-marker-alt"></i>&ensp; Vasant Kunj, Pocket-9, Sector-B, New Delhi-110070
              <br>
              <i class="fas fa-phone"></i>&ensp; 011-4061-9300
              <br>
              <i class="fas fa-envelope"></i>&ensp; jims.vk@jagannath.org
            </p>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') -%> 